body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(165,81,173,1) 54%, rgba(252,70,107,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(165,81,173,1) 54%, rgba(252,70,107,1) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(165,81,173,1) 54%, rgba(252,70,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

.container {
    text-align: center;
    width: 250px;
    height: 380px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: center;
    
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
 
    
    /* CSS */
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      align-items: center;
    align-content: center;
    }
    
    .button-64:active,
    .button-64:hover {
      outline: 0;
    }
    
    .button-64 span {
      background-color: rgb(5, 6, 45);
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
    }
    
    .button-64:hover span {
      background: none;
    }
    
    @media (min-width: 768px) {
      .button-64 {
        font-size: 24px;
        min-width: 196px;
      }
    }


#genreSuggestion {
    margin-top: 20px;
    font-weight: bold;
}

